.resume {
    padding-top: 120px;
    .divider {
        margin: 0 auto 60px auto;
    }
    &__wrapper {
        display: grid;
        padding: 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li  {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100%  + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
            
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 42px;
            background-color: #000;
            position: absolute;
            top: 55px;

        }
        &-head {
            position: relative;
            padding: 37px 0 0 100px;
            margin-bottom: 12px;
            h4 {
                margin-bottom: 0;
            }
        } 
        &-body {
            padding-left: 43px;
            font-size: 12px;
            line-height: 18px;
        }
        
        &-icon {
            position: absolute;
            top: 50px;
            left: 59px;
            @include before_circle;
            &:before {
                top: -52%;
                left: -17px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
        
    }
}