.skills {
    padding-top: 126px;
    .divider {
        margin: 0 auto 60px auto;
    }
    &__items {
        padding: 0 10px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
        margin-bottom: 120px;
    }
    &__item {
        border: 2px solid #000;
        padding: 30px 30px 25px 30px;
        &-icon {
            margin-bottom: 20px;
            min-height: 65px;
            display: flex;
            align-items: center;
            
        }
        &-title {
            margin-bottom: 20px;
        }
        &-text {
            font-size: 13px;
            line-height: 18px;
        }
    }
}