.test {
    padding-top: 120px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid black;
    &:before, &:after {
        content: '';
        width: 2px;
        height: 75%;
        background-color: black;
    }
    &:before {
        transform: rotate(-45deg);
    }
    &:after {
        transform: rotate(45deg);
    }

}

.test {
    .container {
        width: 200px;
        display: flex;
        flex-wrap: wrap;

    }
    .item {
        background-color: blue;
        width: 100px;
        margin: 5px;
        height: 50px;
        flex-grow: 1;
    }
}

